{
    "jsonrpc": "2.0",
    "method": "host.create",
    "params": {
        "host": "{{ hosts_name[item] }}",
        "interfaces": [
            {
                "type": 2,
                "main": 1,
                "useip": 1,
                "ip": "{{ hosts_ip[item] }}",
                "dns": "",
                "port": "161",
                "details": {
                    "version": 2,
                    "bulk": 1,
                    "community": "{$SNMP_COMMUNITY}"
                }
            }
        ],
        "groups": [
            {
                "groupid": "{{ hosts_groups[item] }}"
            }
        ],
        "templates": [
            {
                "templateid": "{{ hosts_templates[item] }}"
            }
        ]
    },
    "id": 2,
    "auth": "{{ user_id.json.result }}"
}