{
    "jsonrpc": "2.0",
    "method": "template.create",
    "params": {
        "host": "Printers Color",
        "groups": {
            "groupid": 1
        }
    },
    "id": 2,
    "auth" : "{{ user_id.json.result }}"
}